#root {
  max-width: 1080px;
  max-height: 1920px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  min-width: 50vw;
  background-color: #dfa8de;
  color: white;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Great Vibes', cursive;
  padding: 2rem;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 2rem;
}

.container-buttons button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#yes-btn {
  background-color: #4caf50;
  color: white;
}

#yes-btn:hover {
  background-color: #38853c;
}

#no-btn {
  background-color: #f44336;
  color: white;
  height: 5rem;
}

#no-btn:hover {
  background-color: #c4312e;
}

/* Animation of pulse the yes button */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 2s 2;
}

/* Animation of the no button */
@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(15deg) scale(0.5);
  }
  50% {
    transform: rotate(-15deg) scale(0.5);
  }
  75% {
    transform: rotate(15deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.shake {
  animation: shake 2s 1;
}

